@import "macros";

body.post {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


	.site-header {
		background-color: transparentize($background-color, 0.1);
	}

	.page-content {
		flex: 1;
	}
	.cinemagraph-content {
		width: 100%;
		video {
			width: 100%;
			position: absolute;
			top: 0;
			z-index: -100;
			@include filter(grayscale(100%));
			@include filter(blur(20 px));
		}

		&:before {
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -99;
			content: "    ";
			background: linear-gradient(transparent, $background-color);
		}
	}
	.site-footer {
		background-color: $background-color;
	}
}
